html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    background-color: rgb(206, 206, 206);
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
}